/.sass-cache/
/.tmp/
/bower_components/
/build/
/dist/
/node_modules/
/releases/
/reports/
/venv/
/settings/dsn.txt
.ropeproject

manifest.json
*.DS_Store
*.pot
*~
.*.swp
.*.pid

/.idea

demo_app/
docs/
requirements_dev.txt
*.mo
